version: '3'
services:
  postgres:
    image: postgres
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=typeorm
  redis:
    image: redis
    ports:
      - '6379:6379'
  mongodb:
    image: mongo
    ports:
      - '27017:27017'
  mysql:
    image: mysql:5.7.31
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: test
    ports:
      - '3306:3306'
  console:
    image: node
    command: /bin/bash
    working_dir: /app
    volumes:
      - .:/app